* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #171b26;
  font-family: "Caveat", cursive;
  font-family: "Onest", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
}

.topContainer {
  height: 100vh;
  width: 80vw;
  border: black 1px solid;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px black solid;
  height: 50px;
  width: 100%;
  position: relative;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-grow: 2;
  color: white;
}

.parent-logo {
  flex-grow: 1;
}

.logo {
  height: 35px;
  width: 35px;
  border: 1px black solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  background-color: green;
}

li {
  text-transform: uppercase;
}

.resume {
  /* height: 35px; */
  border: 2px green solid;
  border-radius: 5px;
  padding: 5px;
}
